[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap4 = "*"
django-bootstrap-datepicker-plus = "*"
djangorestframework = "*"
python-dateutil = "*"
python-gettext = "*"
pillow = "*"
django-rest-auth = "*"

[dev-packages]

[requires]
python_version = "3.8"
