{% extends 'base.html' %} {% load i18n %} {% block content %}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% bootstrap_css %}{% block extrascript %} {% endblock %}

</head>

<body>
    <br>
    <div class="container">
        <h4>{% trans 'Logged Out' %}</h4>
        <hr>
        <p>
            {% trans 'Thanks for visiting the site.' %}
        </p>
        <br>
        <div class="text-right">
            <a href="{% url 'accounts:log_in' %}" class="btn btn-outline-primary">{% trans 'Log in again' %}</a>

        </div>

    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>
{% endblock %}