{% extends 'base.html' %} {% load bootstrap4 %} {% load i18n %} {% block content %}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% bootstrap_css %}{% block extrascript %} {% endblock %}

</head>

<body>

    <div class="container">
        <h4>{% trans 'Log In' %}</h4>
        <hr>
        <form method="post">

            {% csrf_token %} {% bootstrap_form form %}

            <button class="btn btn-primary">{% trans 'Log in' %}</button>

        </form>
        <br>

        <div class="container">
            <a href="{% url 'accounts:restore_password' %}" class="btn btn-primary float-left mr-2">{% trans 'Forgot your password?' %}</a>
            <a href="{% url 'accounts:remind_username' %}" class="btn btn-primary float-left">{% trans 'Forgot your username?' %}</a>
            <a href="{% url 'accounts:resend_activation_code' %}" class="btn btn-outline-primary float-right">{% trans 'Resend an activation code' %}</a>
        </div>

    </div>
    <br>
    <br> {% bootstrap_javascript jquery='full' %}
</body>

</html>
{% endblock %}