{% extends "base.html" %} {% load static %} {% load i18n %} {% load bootstrap4 %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% bootstrap_css %} {% block extrahead %}{% endblock %}
    <style>

    </style>
</head>

<body>

    <div class="card mb-2">

        <div class="card-header" style="font-family: Georgia">
            <h4>{% trans 'Set Time Zone' %}</h4>
        </div>
        <div class="card-body">
            {% load tz %} {% get_current_timezone as TIME_ZONE %}
            <form action="{% url 'set_timezone' %}" method="POST">
                {% csrf_token %}
                <label for="timezone">Time zone:</label>
                <select name="timezone">
                    {% for tz in timezones %}
                    <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-primary btn-block">{% trans 'Set' %}</button>

            </form>
        </div>
    </div>
</body>

</html>

<br> {% endblock %}