<!-- templates/base.html -->
{% load static %} {% load bootstrap4 %} {% load i18n %}
<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% bootstrap_css %} {% block extrahead %}{% endblock %}
    <title>{% trans 'Django User Management' %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <a class="navbar-brand" href="{% url 'index' %}">{% trans 'Home' %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans 'Contact' %}</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">{% trans 'Admin' %}</a>
                </li>

                {% endif %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if request.user.is_authenticated %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans 'Account' %} ({{ user.get_full_name }})
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="{% url 'accounts:change_password' %}">{% trans 'Password' %}</a>
                        <a class="dropdown-item" href="{% url 'accounts:change_email' %}">{% trans 'Email' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {% trans 'Profile' %} <!--{{ user.get_full_name }}-->
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'accounts:change_profile' %}">{% trans 'Update' %}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'accounts:view_profile' %}">{% trans 'View' %}</a>
                    </div>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:sign_up' %}">{% trans 'Sign Up' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Log In' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'change_language' %}">{% trans 'Change language' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'set_timezone' %}">{% trans 'Set Time Zone' %}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container mt-2">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %} {% block content %}(no content){% endblock %}
    </div>
    <br>
    <br>
    <br>
    <div class="container-fluid mt-2">
        {% include "copyright.html"%} {% bootstrap_javascript jquery='full' %} {% block extrascript %}{% endblock %}
    </div>
</body>

</html>