{% extends "base.html" %} {% load static %} {% load i18n %} {% load bootstrap4 %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% bootstrap_css %} {% block extrahead %}{% endblock %}
    <style>
        body {
            margin: 0;
            font-family: Georgia;
        }
        
        .index-image {
            background: url("{% static 'images/aboutme.png' %}") no-repeat center;
            background-size: cover;
            height: 500px;
            position: relative;
        }
        
        .index-text {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: rgb(52, 51, 56);
        }
    </style>
</head>

<body>

    <div class="card mt-2 mb-2" style="font-size:25px">
        <div class="card-header bg-primary" style="font-family: Georgia">
            {% if request.user.is_authenticated %} {% trans 'Your username is' %} <b>{{ request.user.username }}</b>. {% else %} {% trans 'You are a guest.' %} {% endif %}
        </div>
    </div>

    <div class="index-image">
        <div class="index-text">
            <h1 style="font-size:50px">{% trans 'Django User Management' %}</h1>
            <h3>{% trans 'Sign Up' %}</h3>
            <h3 style="color:white">{% trans 'Profile with roles' %}</h3>
            <h3 style="color:white">{% trans 'Email or username option' %}</h3>
            <h6 style="color:white">{% trans 'Account activation through e-mail' %}..</h6>
            <h6 style="color:white">{% trans 'Create, Update, View and Delete Account and Profile' %}.</h6>
            <br>
            <a href="{% url 'about' %}" class="btn btn-primary btn-lg mt-2 mb-2">{% trans 'Read More' %}</a>
        </div>
    </div>


    <h1 style="font-family: Georgia">{% trans 'Django Account Management App' %}</h1>

    <div class="card mb-2">
        <div class="card-header bg-primary" style="font-family: Georgia">
            {% trans 'Accounts' %}
        </div>
        <div class="card-body" style="font-family: Georgia">
            <h3 class="card-title">{% trans 'Registered Users' %}</h3>
            <hr>
            <h5 class="card-text">
                {% if num_users > 1 %} {{ num_users }} {% trans 'signed up users' %} {% else %} {{ num_users }} {% trans 'signed up user' %} {% endif %}

            </h5>
            <h5 class="card-text">
                {% if num_profiles > 1 %} {{ num_profiles }} {% trans 'users' %} {% trans 'added profile' %} {% else %} {{ num_profiles }} {% trans 'user' %} {% trans 'added profile' %} {% endif %}</h5>
            <h5 class="card-text">{{ num_address }} user{% if num_address > 1 %}es{% endif %} added address {% if num_address > 1 %} {{ num_address }} {% trans 'users' %} {% trans 'added address' %} {% else %} {{ num_address }} {% trans 'user' %} {% trans 'added address' %}
                {% endif %}
            </h5>
            <a href="{% url 'about' %}" class="btn btn-primary btn-lg mt-2 mb-2">{% trans 'Read More' %}</a>
        </div>

        <div class="card-footer bg-info text-white">

            {% if num_days > 1 %} {% trans 'updated' %} {{ num_days }} {% trans 'days ago' %} {% else %} {% trans 'updated' %} {{ num_days }} {% trans 'day ago' %} {% endif %}
        </div>
    </div>
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text text-center">{% trans 'You have visited this page' %} {% if num_visits > 1 %} {{ num_visits }} {% trans 'times' %} {% else %} {{ num_visits }} {% trans 'time' %} {% endif %} .
            </p>
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %} {% block extrascript %}{% endblock %}
</body>

</html>

<br> {% endblock %}