{% extends "base.html" %} {% load static %}{% load i18n %} {% get_media_prefix as MEDIA_URL %}{% load bootstrap4 %} {{ form.media }}{% block content %}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> {% bootstrap_css %}{% block extrascript %} {% endblock %}

</head>

<body>

    <div class="container">

        <div class="card w-25 p-3">
            <p class="text-muted mb-0" style="font-size: 16px">{% trans 'Profile Picture' %}:</p>
            <img src="/media/{{ MEDIA_URL }}/{{ profile.profile_photo }}" class="card-img-top" alt="">
            <h6 class="card-title font-weight-bold text-center">{{ profile.get_full_name|title }}</h6>

            <div class="card-text">
                <p class="text-muted mb-0" style="font-size: 12px">{% trans 'Role' %}:</p>
                <p>{{ profile.role }}</p>
                <p class="text-muted mb-0" style="font-size: 12px">{% trans 'Gender' %}:</p>
                <p>{{ profile.gender }}</p>
                <p class="text-muted mb-0" style="font-size: 12px">{% trans 'Date of birth' %}:</p>
                <p>{{ profile.dob }}</p>
                <p class="text-muted mb-0" style="font-size: 12px">{% trans 'Mobile phone' %}:</p>
                <p>{{ profile.mobile_phone }}</p>
                <p class="text-muted mb-0" style="font-size: 12px">{% trans 'Email' %}:</p>
                <p>{{ profile.email }} </p>
                <p class="text-muted mb-0" style="font-size: 12px">{% trans 'Modified date' %}:</p>
                <p>{{ profile.date_mod }} </p>
            </div>
            <div class="text-right">
                <a href="{% url 'accounts:change_profile' %}" class="btn btn-outline-primary">{% trans 'Edit Profile' %}</a>

            </div>

        </div>
    </div>

    {% bootstrap_javascript jquery='full' %}
</body>

</html>
{% endblock %}